<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/3768911/pexels-photo-3768911.jpeg?auto=compress&cs=tinysrgb&w=1200"
          alt="">
        <h1>Master Yoga with Expert Guidance</h1>
        <p>Learn step-by-step yoga poses and techniques from experienced instructors. Perfect for beginners and advanced
          practitioners</p>
        <button class="btn avinash" (click)="onclick()">Explore</button>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/3768911/pexels-photo-3768911.jpeg?auto=compress&cs=tinysrgb&w=1200"
          alt="">
        <h1>Master Yoga with Expert Guidance</h1>
        <p>Learn step-by-step yoga poses and techniques from experienced instructors. Perfect for beginners and advanced
          practitioners</p>
        <button class="btn avinash" (click)="onclick()">Explore</button>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/3768911/pexels-photo-3768911.jpeg?auto=compress&cs=tinysrgb&w=1200"
          alt="">
        <h1>Master Yoga with Expert Guidance</h1>
        <p>Learn step-by-step yoga poses and techniques from experienced instructors. Perfect for beginners and advanced
          practitioners</p>
        <button class="btn avinash" (click)="onclick()">Explore</button>
      </div>

    </div>
  </div>
</div>