.card{
    margin: 0px 20px;
    border: none;
    box-shadow: 0.5px 0.5px 5px #dbd7d7;
    text-align: center;
}
.avinash{
    background-color: orange !important;
    max-width: 60%;
    margin: 5% 20%;
    border-radius: 6px;
}